body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* SKull and cross-swords logo next to website name on navbar */
.navIcon {
    width: 50px;
    margin: .5em 1em 0 0;
}

/* Two pirate flags next to the welcome message */
.pirateFlag {
    width: 100px;    
    margin: 0 1em 0 1em;
}

/* Three image links on home page that link to the three views */
.imageLink {
    width: 200px;
    display: block;
    margin: auto;
}
