/* Default font for this website */
@font-face {
    font-family: jura-light;
    src: url(../fonts/Jura-Light.otf);
}

body {
    font-family: jura-light;
}

/* Box to go around an item */
.borderBox {
    padding: .2em;
    border: .1em solid white;
    box-sizing: border-box;
}

/* Vertically center contents */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Icon size */
.icon {
    width: 3em;
    height: 3em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Icon hover size */
.icon:hover {
    width: 4em;
    height: 4em;
}

/* Hidden help block */
.help-block {
    margin: auto;
    margin-top: 1em;
    width: 30%;
    color: red;
}

/* Header  */

/* Size of header and background design */
#header {
    padding: 2em;
    background: -webkit-radial-gradient(red, black);
}

/* Slight adjust to name size and position of subtext */
#header h1 {
    font-size: 3.5em;
    margin-bottom: -.3em;
}

/* Font size of menu items */
#header ul {
    font-size: 1.5em;
}

/* Nav links idle colors */
#header a,
#header a:visited {
    color: white;
}

/* Nav links hover colors */
#header a:hover {
    color: darkgrey;
}

/* Color and position of name */
#headerText {
    padding-left: 4em;
    color: white;
    text-align: center;
}

/* Positioning of menu items */
#headerMenu {
    padding-left: 8em;
}

/* End Header */


/* Footer */

/* Size and position of footer */
#footer {
    text-align: center;
    height: 10em;
    line-height: 10em;
}

/* Remove list item markings */
#footer ul {
    list-style: none;
}

/* Positioning of social media links */
#footer li {
    display: inline-block;
    margin: 0 2em 0 2em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Keep hr from moving on hover*/
#footer li:hover {
    margin: -1em 2em -1em 2em;
}

/* End Footer */


/* Home Page */

/* Positioning of home page content */
#home {
    font-size: 1.5em;    
    margin: auto;
    text-align: center;
    width: 80%;
}

/* Remove underline on 3D Pritning Layer Calculator link */
#home p a {
    text-decoration: none;
}

/* End Home Page */


/* Resume Page */

/* Size and positioning of table and cells*/
#table-resume {
    font-size: 1.2em;
    margin: auto;
    width: 80%;
    empty-cells: show;
    table-layout: fixed;
}

/* Font size of job titles */
#table-resume h4 {
    font-size: 1.25em;
}

/* Center contents of cells vertically */
#table-resume td {
    vertical-align: middle;
}

/* Left column width */
#table-resume td:nth-child(1) {
    width: 35%;
}

/* Right column width */
#table-resume td:nth-child(2) {
    width: 65%;
}

/* Positioning of lists in skills cell */
#skills-cell ul {
    display: inline-block;
    padding-right: 2.1em;
}

/* All first column cells that are not a category cell will align right */
td:not(.resume-category):nth-child(1) {
    text-align: right;
}

/* End Resume Page */


/* About Page */

/* Positioning of about me content */
#about {
    margin: auto;
    width: 80%;
    font-size: 1.5em;
}

/* Positioning of my picture */
#aboutImage {
    text-align: center;
    padding: 1.5em 0 1.5em 0;
}

/* End About Page */


/* Contact Page */

/* Positioning of content */
#contact {
    margin: auto;
    width: 60%;
    font-size: 1.5em;
}

/* Remove underline from links */
#contact a:hover {
    text-decoration: none;
}

/* End Contact Page */

/* Layer Calculator Page */

/* Positioning of layer calculator */
#calc {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 1.3em;
}

/* Spacing inbetween calculator elements */
#calc div {
    padding: 0 0 0 1em;
}

/* Spacing between calculator and table */
#calcResults {
    margin-top: 3em;
}

/* Positioning and style of table name */
#calcResults caption {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

/* Layout of resulting table */
#calcResults table {
    margin: auto;
    width: 50%;
    table-layout: fixed;
}

/* Positioning and size of column names */
#calcResults table th {
    text-align: center;
    width: 50%;
}

/* Text positioning and borders on cells in table */
#calcResults td {
    text-align: center;
    border: solid 1px lightgray;
}

/* End Layer Calculator Page */