.control-label {
    font-size: 1.25em;
}

.dygraph-xlabel {
    margin-top: .5em;
}

/* Background image for the stocks page */
#logo {
    width: 100%;
    height: 750px;
    background-image: url(/Images/coins.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Placement of website name */
#logo h1 {
    margin-left: 1.5em;
    padding-top: .5em;
}

/* Place, position, and opacity of graph output area*/
#graphOutput {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: rgba(255, 255, 255, .75);
}

#graphdiv {
    margin-left: 2.5em;
}

#checkboxes label {
    font-weight: bold; 
}

/* Color of the visibility checkboxes in attempt to match the dygraph colors */
#checkboxes label:first-child {
    color: darkgoldenrod;
}

#checkboxes label:nth-child(2) {
    color: darkcyan;
}

#checkboxes label:nth-child(3) {
    color: olivedrab;
}

#checkboxes label:nth-child(4) {
    color: darkblue;
}

#checkboxes label:nth-child(5) {
    color: purple;
}

#checkboxes label:last-child {
    color: mediumseagreen;
}

/* Positioning, color, and opacity of error message div */
#error-block {
    padding: .5em 10em .5em 11em;
    background: rgba(255, 255, 255, .75);
    text-align: center;
    color: red;
    font-size: 1.25em;
}

/* Positioning, color, ad opacity of definition output div*/
#definition {
    padding: .5em;
    background: rgba(255, 255, 255, .75);
}