
@{
    ViewBag.Title = "Index";
}

<center><h2>Cameron Stanavige - CS460 - HW5</h2></center>

<!-- Link to view all requests for a change of major/minor/advisor -->
@Html.ActionLink("Major/Minor/Advisor Change Form", "Index", "Request")

