
@{
    ViewBag.Title = "Index";
}

<center><h2>Cameron Stanavige - CS460 - HW4</h2></center>

<div class="row">
    <div class="col-md-6">
        <ul> <!-- Links to the three pages for HW4 -->
            <li>@Html.ActionLink("HTTP GET Example Page", "GetPage", "Home")</li>
            <li>@Html.ActionLink("HTTP POST Example Page", "PostPage", "Home")</li>
            <li>@Html.ActionLink("Loan Calculator", "LoanCalc", "Home")</li>
        </ul>
    </div>
</div>